
<h1>International Space Station</h1>
<br>
<div class="current-location">
  <div>
    Current Location:
    <p>As of <%= @time.strftime("%B %d, %Y") %> at: <%= @time.strftime("%I:%M %p")%></p>
  </div>
  <div class="coordinates">
    <p>Latitude: <%= @current_location.latitude %></p>
    <p>Longitude: <%= @current_location.longitude %></p>
  </div>
</div>

<hr>

<h3>Find out when the ISS will pass over you</h3>

<h4>Enter in your coordinates:</h4>

<div>
  <div>
    <%= form_with(url: "/", method: "get", id: "passover-form", remote: true) do %>
      <%= label_tag(:latitude, "Latitude") %>
      <%= number_field_tag 'latitude', 44, min: -72, max: 72, step: :any %>
      <%= label_tag(:longitude, "Longitude") %>
      <%= number_field_tag 'longitude', 122.3, min: -180, max: 180, step: :any %>
      <%= submit_tag("Submit") %>
    <% end %>
    <%= tag.div id: "ajax" %>
    <%= tag.div id: "sjr" %>
  </div>
  <div id="passover-time">
    <p id="duration">Duration: About <%= (@passover_time.duration / 60) %> minutes</p>
    <p id="rise-time">Rise Time: <%= @rise_time.strftime("%B %d, %Y") %> at: <%= @rise_time.strftime("%I:%M %p")%></p>
  </div>
</div>

<hr>

<div class="astronaut">
  <h3>Current Astronauts in Space</h3>
  <ul>
    <% @astronauts.each do |astronaut| %>
    <li>
      <p>Name: <%= astronaut.name %></p>
      <p>Craft: <%= astronaut.craft %></p>
    </li>
    <% end %>
  </ul>
</div>
