<h1>International Space Station</h1>
<br>
<div class="current-location">
  <div>
    Current Location:
    <p>As of <%= @time.strftime("%B %d, %Y") %> at: <%= @time.strftime("%I:%M %p")%></p>
  </div>
  <p>Latitude: <%= @current_location[:iss_position][:latitude] %></p>
  <p>Longitude: <%= @current_location[:iss_position][:longitude] %></p>
</div>

<hr>

<h3>ISS Pass Over Time</h3>

<div>
  <div>
    <%= form_with(url: "/", method: "get", id: "passover-form", remote: true) do %>
      <%= label_tag(:latitude, "Latitude") %>
      <%= number_field_tag(:latitude) %>
      <%= label_tag(:longitude, "Longitude") %>
      <%= number_field_tag(:longitude) %>
      <%= submit_tag("Submit") %>
    <% end %>
    <%= tag.div id: "ajax" %>
    <%= tag.div id: "sjr" %>
  </div>
  <div id="passover-time">
    <p id="duration">Duration: About <%= (@passover_time[:response].first[:duration] / 60) %> minutes</p>
    <p id="rise-time">Rise Time: <%= @rise_time.strftime("%B %d, %Y") %> at: <%= @rise_time.strftime("%I:%M %p")%> %></p>
  </div>
</div>

<hr>

<div class="astronaut">
  <h3>Current Astronauts in Space</h3>
  <ul>
    <% @astronauts.each do |astronaut| %>
    <li>
      <p>Name: <%= astronaut[:name] %></p>
      <p>Craft: <%= astronaut[:craft] %></p>
    </li>
    <% end %>
  </ul>
</div>
